<div class="page-header">
  <h1>ひがしのてらこや。とは？</h1>
</div>
<p>
ひがしのてらこや。は、ゲーム制作サークルです。
</p>

<h2>特色</h2>
<p>
京都大学の現役大学院生、<%= link_to 'かとりょー', '/staff' %>が中心となって、シリアスでのめり込める、シナリオを重視したノベルゲームを作っています。<br>
音楽を担当する<%= link_to '吟', '/staff' %>の曲は本物です。いちど、彼の<%= link_to 'ニコニコ動画マイリスト', 'http://www.nicovideo.jp/mylist/23242577' %>から聞いてみることをおすすめします。作曲の依頼があればぜひご連絡を。<br>
<a>aaa</a>

</p>
<a href="http://easternretroschool.web.fc2.com/apindex.html" target="_blank">http://easternretroschool.web.fc2.com/apindex.html</a>
<h2>ジャンル</h2>
<p>
ノベルゲームを主に制作しています。<br>
ゲーム以外にも、音楽を作ったりします。
Windows向けのソフト意外にも、iOSアプリ、音楽CDを公開・販売する予定です。
</p>
