<div class="page-header">
  <h1>制作スタッフ</h1>
  
</div>


<div class="row">
  <div class="span2">
    <img src="https://twimg0-a.akamaihd.net/profile_images/1207493251/__.jpg" width="128" height="128">
    
</div>
<div class="span6">
  <h3>かとりょー  <%= link_to '詳細プロフィールページ', 'http://katryo.herokuapp.com/', :target => '_blank', :class => "btn" %>
      
</h3>
  
   <h4>
  <br>ひがしのてらこや。代表<br>
  シナリオライター<br>
  スクリプター（誰かに頼みたい）<br>
  エンジニア（このサイト作りました）<br>
   


</h4>

</div>
</div>
<br>
<p>
こんにちはかとりょーです。<br>
「アナテマ・フィジクス」のシナリオ書きました。このサイトをRailsで作ったりもしています。<br>
アイコンはアナテマ・フィジクスの登場人物、橘茜さんですね。<br>
ちなみに京都大学の大学院生です。情報学研究科にいます。
</p>


<script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
<script>
new TWTR.Widget({
  version: 2,
  type: 'profile',
  rpp: 2,
  interval: 30000,
  width: 600,
  height: 200,
  theme: {
    shell: {
      background: '#333333',
      color: '#ffffff'
    },
    tweets: {
      background: '#000000',
      color: '#ffffff',
      links: '#4aed05'
    }
  },
  features: {
    scrollbar: false,
    loop: false,
    live: false,
    behavior: 'all'
  }
}).render().setUser('katryo').start();
</script>

<hr>

<div class="row">
  <div class="span2">
    <img src="https://twimg0-a.akamaihd.net/profile_images/2009693487/clavinord.jpg" width="128" height="128">
    
</div>
<div class="span6">
  <h3>吟（clavinord）  <%= link_to '詳細プロフィールページ', 'http://www.nicovideo.jp/mylist/23242577', :target => '_blank', :class => "btn" %>
</h3>
  
   <h4>
     <br>コンポーザー<br>
     サウンドクリエイター<br>
     


</h4>

</div>
</div>
<br>
<p>
ちわす吟ですっ！音屋やってます。<br>
ノベルゲーム主体の当サークルでは作曲をメインにやらせてもらってます。<br>
作曲・効果音制作依頼も受け付けてます！お気軽にどーぞっ！<br>
ちなみに東京外国語大学の学生です。日本語専攻です。</p>

<script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
<script>
new TWTR.Widget({
  version: 2,
  type: 'profile',
  rpp: 2,
  interval: 30000,
  width: 600,
  height: 200,
  theme: {
    shell: {
      background: '#333333',
      color: '#ffffff'
    },
    tweets: {
      background: '#000000',
      color: '#ffffff',
      links: '#4aed05'
    }
  },
  features: {
    scrollbar: false,
    loop: false,
    live: false,
    behavior: 'all'
  }
}).render().setUser('clavinord').start();
</script>

<hr>

<div class="row">
  <div class="span2">
    <img src="https://twimg0-a.akamaihd.net/profile_images/1568972856/___4.jpg" width="128" height="128">

</div>
<div class="span6">
  <h3>市町村  <%= link_to '詳細プロフィールページ', 'http://www.pixiv.net/member.php?id=200337', :target => '_blank', :class => "btn" %>
</h3>
  
   <h4>
  <br>キャラクターデザイナー<br>
  原画<br>
  ペインター<br>
   


</h4>

</div>
</div>
<br>
<p>
おえかき担当・市町村です。<br>
おえかきの特にキャラ担当。キャラ担当の特に美少女担当。
美少女担当の特に百合担当です。
</p>

<script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
<script>
new TWTR.Widget({
  version: 2,
  type: 'profile',
  rpp: 2,
  interval: 30000,
  width: 600,
  height: 200,
  theme: {
    shell: {
      background: '#333333',
      color: '#ffffff'
    },
    tweets: {
      background: '#000000',
      color: '#ffffff',
      links: '#4aed05'
    }
  },
  features: {
    scrollbar: false,
    loop: false,
    live: false,
    behavior: 'all'
  }
}).render().setUser('shichoson015').start();
</script>

<hr>

<div class="row">
  <div class="span2">
    <img src="https://twimg0-a.akamaihd.net/profile_images/1017159023/iwbal_title900.png" width="128" height="128">
    
</div>
<div class="span6">
  <h3>松永闇斎（Deskull）  </h3>
  
   <h4>
  <br>クリーチャーデザイナー<br>
  原画<br>
  ペインター<br>   


</h4>

</div>
</div>
<br>
<p>
（自己紹介執筆中）
</p>

<script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
<script>
new TWTR.Widget({
  version: 2,
  type: 'profile',
  rpp: 2,
  interval: 30000,
  width: 600,
  height: 200,
  theme: {
    shell: {
      background: '#333333',
      color: '#ffffff'
    },
    tweets: {
      background: '#000000',
      color: '#ffffff',
      links: '#4aed05'
    }
  },
  features: {
    scrollbar: false,
    loop: false,
    live: false,
    behavior: 'all'
  }
}).render().setUser('deskull').start();
</script>

<hr>

