<div class="page-header">
  <h1>過去の記事</h1>
  </div>
<% @articles.each do |article| %>
  <p>
  <div class="entry">
    <h2>
      <%= article.title %>
      </h2>
    
    <%= markdown article.description %>
       <h4>
      投稿日時：
      <%= article.created_at %>
      </h4>
  </div>
  </p>
  <hr>

  <% end %>

