<h1>ライコのどきどき！　破門相談室</h1>

<img src="http://photoshopvip.net/news/matome/30mqwebsite.jpg">

<%= render "form" %>
<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<!% @raiko_questions.each do |raiko_question| %>
  <tr>
    <td><!%= raiko_question.query %></td>
    <td><!%= link_to 'Edit', edit_raiko_question_path(raiko_question) %></td>
  </tr>
<!% end %>
</table>

<br />

<%= link_to 'New Raiko question', new_raiko_question_path %>
