<p>
<h4>目覚めたら、怪物になっていた。</h4>
深夜の街で繰り広げられる、陸上自衛隊特殊作戦群と怪物“アナテマ”の戦闘。平凡な大学生だった主人公、土岐野蒼一が目覚めたとき、見慣れた街は戦場になっていた。
異常な光景に呆然とする蒼一は、自分がアナテマに変化していることに気づいてしまう。人の消えた街で、特殊作戦群とアナテマたちから逃げようとするが、すぐに発見され、殺されかかる。彼を助けたのは、見知った少女、洲原奈美だった。
<br>
ふたりきりで、生き残れるか。たった一日の戦争が始まる。
</p>
